/*
.tarjetas{
    position: absolute;
    margin-top: 10%;
}

.card3{*/
/*posicionamiento de la tarjeta*/
   /* position: absolute;
    margin-left: 115%;
    margin-top: -135%;
}

.cards{
    position: absolute;
    margin-left: 119%;
    margin-top: -135%;
}*/

/*
.tarjetas{
    padding: 16px;
}

.tarjetas > p-card{
    width: 200px;
}*/